@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;700&display=swap');

* {
  margin: 0;
  font-family: "Roboto Condensed", sans-serif;
  letter-spacing: 2px;
  font-size: 12px;
}


.text-success {
  color: #890f96 !important;
}

.bg-success{
  background-color: #890f96 !important;
}

.drop-shadow{
  filter: drop-shadow(0px 0px 5px rgba(151, 151, 151, 0.2));
}

#qr-code {
  width: 10cm;
  height: 10cm;
  border: 1px solid rgb(237, 237, 237);
}

textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {
  border: 1px solid rgb(237, 237, 237) !important;
}

input {
  border: 1px solid rgb(237, 237, 237) !important;
}