{% extends 'layout.html' %}
{% block content %}
<div class="flex justify-content-center align-items-center"
  style="height: 50vh">
  <div class="container py-5 mt-5">
    <p class="text-success fw-bolder text-center display-4 drop-shadow">QR Code Generator</p>
    <div class="container">
      <div class="input-group mb-3">
        <input id="generate-text"
          type="text"
          class="form-control mx-1 shadow-sm"
          placeholder="Place Text Here..."
          aria-label="Link">
        <button class="btn bg-success text-white mx-1 shadow-sm"
          type="button"
          id="generate-btn">Generate</button>
      </div>
      <div class="container text-center">
        {% if isGenerated %}
        <h2 class="text-dark fs-5 fw-bold">Preview Image</h2>
        <img id="qr-code"
          class="rounded shadow-sm img-responsive"
          src="/image/qrcode.jpg">
        {% else %}
        <h2>Cannot Preview Image not Available</h2>
        {% endif %}
      </div>
    </div>
  </div>
</div>
{% endblock %}